##Route - PHP REST Framework
##
##@author: Ajinkya Apte
##@license: Mozilla Public License Version 2.0
##@licenseFileLocation: route/License.txt
##@codeRepository: https://github.com/ajinkya-apte/route.git

##@file: Add all the route configuration constants
routeHttpProtocols=GET,POST,PUT,DELETE
routeClassName=Route
timerCallback=Util.logTime
ignoreURLPORT=true